.header-bar{
    display:flex;
    height: 50px;
    background-color: rgb(19, 84, 79);
}

.search-container{
    margin: 5px;
    margin-right: 10px;
    margin-left: 10px; 
    width: fit-content;
}

.search-bar{
    width: 100%;
    padding: 10px;
    font-size: 1rem;
    border: 2px solid #000000;
    border-radius: 5px;
    width: 75vw;
}

.header-buttons{
    width: 100%;
}

.header-buttons button{
    padding: 10px 15px;
    background-color:  rgb(19, 84, 79);
    color: white;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s;
}