<<<<<<< HEAD
/* Styles for the container to align items in a grid */
.list-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 300px;
    padding: 20px;
    margin: 10px;
    background-color: white;
    border: 1px solid #ddd;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    transition: transform 0.3s ease;
    cursor: pointer;
}

.list-container:hover {
    transform: scale(1.02);
}

.list-category {
    font-size: 12px;
    font-style: italic;
    color: gray;
}

.list-image {
    width: 180px;
    height: 180px;
    object-fit: contain;
    margin-bottom: 15px;
}

.list-title {
    font-size: 16px;
    font-weight: bold;
    text-align: center;
    margin: 5px 0;
}

.list-description {
    font-size: 12px;
    color: #565959;
    text-align: center;
    margin: 5px 0 15px;
}

.list-button {
    padding: 10px;
    width: 100%;
    background-color: #2c7a67;
    color: #ffffff;
    border: 1px solid #113e1d;
    border-radius: 4px;
    font-weight: bold;
    cursor: pointer;
    transition: background-color 0.2s ease;
}

.list-button:hover {
    background-color: #5fc387;
}

/* Adding a container for the entire list to display items in grid */
.product-grid {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: space-around;
    padding: 20px;
    background-color: #f3f3f3;
=======
.list-container {
    display: flex; 
    align-items: center; 
    border: 1px solid #ccc; 
    padding: 10px; 
    margin: 10px ;
    width: 1000px;
    background-color: white;
    border-radius: 1%;
    
}

.list-image {
    flex: 0 0 200px; 
    margin-right: 20px; 
    border-style: double;
}

.list-details {
    flex: 1; 
    display: flex; 
    flex-direction: column;
}

.list-category {
    font-weight: bold;
    color: gray;
    font-size: 10px;
    text-decoration: underline;
}

.list-title {
    font-size: 1.2em; 
    margin: 5px 0; 
}

.list-description {
    font-size: 0.9em; 
    color: #666; 
}

.list-price {
    font-weight: bold; 
    margin: 10px 0; 
}

.list-button {
    background-color:  rgb(19, 84, 79);
    color: white; 
    border: none; 
    padding: 10px; 
    cursor: pointer; 
    margin-top: 10px; 
}

.list-button:hover {
    background-color: #16781a; 
>>>>>>> d36013e9f7fec8aa315aa7565e60ed5b43019ea6
}
