
.sort-options {
    display: flex;
    justify-content: center; 
    height: 70px;
    background-color: #272727; 
}


.sort-options select {
    padding: 10px 20px; 
    font-size: 18px;
    border-radius: 5px;
    border: 1px solid #ccc;
    outline: none;
    cursor: pointer;
    width: 400px; 
    text-align: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
